.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
  background-color: indigo;
  box-shadow: 0 0 10px rgba(63, 61, 61, 0.9);
  color: #fff;
  height: 90px;
  position: sticky;
  top: 0;
  z-index: 99999;

}
  .menu-icon {
    display: none;
    
    right: 0;
    position: absolute;
}
.header-logo{
    display: flex;
    align-items: center;
    gap: 40px;
}
.logo img{
    height: 25px;

    
}
.logo{
    line-height: 20px;
}

.logo-cart span{
    color: yellow;
    font-size: 20px;
    
    
}
.logo-cart span img{
    height: 15px;
    
}
.header-input{
    box-shadow: 0 0 10px rgba(0, o, 0, 0.1);
    background-color: #fff;
    width: 40vw;
    color: black;
    border-radius: 10px;
    
    position:relative;
    
}

.header-input input{
    height: 40px;
    
    
    position: relative;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    outline: none;

}
input::placeholder{
    color: black;
    letter-spacing: .5px;
    padding-left: 5px;


}
.header-icon{
    position: absolute;
    font-size: 25px;
    padding: 10px;
    right: 0;

    
    
}
.header-links{
    display: flex;
    gap: 40px;
    font-size: 20px;
    
    

}
.header-links ul li  a{
    color: #fff;
}
.cart-box{
    position: relative;
  
}
.cart-box span{
    position: absolute;
    margin-left: 2px;
    top: -16px;
    color: #fff;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    background-color: tomato;
    border-radius: 50%;
    
   
    text-align: center;
    font-size: 15px;

   
}
.logo{
    text-decoration: none;
    
}
.header-links ul li{
    list-style-type: none;
    display: inline-block;
   
    
}
.header-links ul li a{
    text-decoration:none ;
}
  .logout-btn{
    list-style-type: none;
   
   
  
    font-size: 15px;
    
    padding: 5px 10px;
    

}
/* .logout-btn:active{
    background-color: rgba(255, 0, 0, 0.733);
} */
 @media (max-width:768px){
    .logo-filpkart img{
        height: 15px;
    }
    .logo-cart span{
        font-size: 15px;

    }
    .header-links{
        gap: 12px;
    }
    
 }
 .header-links .Home-nav:hover{
    border-bottom:2px solid  black;
   
    transition: 0.4;
 }

