.sign{
    /* height: 400px; */
    width: 320px;
    /* background-color: rgba(255,255,255,0.2); */
    /* backdrop-filter: blur(30px); */
    text-align: center;
    border-radius: 20px;
}
button:active{
    transform: scale(0.8);
}
.signup{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.btn1{
    padding-top: 20px;
}
.sign button{
    cursor: pointer;
    height: 30px;
    width: 70px;
    font-size: 16px;
    background-color: rgba(255, 0, 0, 0.493);
    border-radius: 5px;
    border: none;
    color: #ffff;
    letter-spacing: .5px;
    
}
.sign h1{
    padding: 10px;
}
