.sign{
    height: 400px;
    width: 320px;
    background-color: aqua;
    backdrop-filter: blur(30px);
    text-align: center;
    border-radius: 20px;
}
button:active{
    transform: scale(0.8);
}
.signup{
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
.sign button{
    height: 30px;
    width: 70px;
    font-size: 16px;
    background-color: bisque;
    border-radius: 5px;
}
.sign h1{
    padding: 10px;
}
